@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@500&family=Montserrat:wght@800&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");

/*
font-family: 'Lemonada', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Rubik Mono One', sans-serif;
*/

*
{
    margin: 0;
    padding: 0;
}
/*  header */
header
{
    background: rgb(56,244,156);
    background: linear-gradient(135deg, rgba(56,244,156,.95) 0%, rgba(140,124,184,0.95) 48%, rgba(54,209,147,.95) 100%, rgba(79,190,164,1.8) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,0) 100%);
    width: 100%;
    height: 80px;
}
header nav
{
    height: 100%;
}
.logo
{
    width: 180px;
    text-align: center;
    padding: 15px 0;
}
.logo h2
{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0;
    color: white;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 12px;
}
.logo h3
{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0px 0 0 0;
    color: white;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 4px;
}
.logo p
{
    display: none;
}
#expand_icon
{
    float: right;
    margin: -80px 0 0 0;
    padding: 25px 25px;
    width: 30px;
}
.bigscreen_logo
{
    display: none;
}
header nav ul
{
    display: none;
}
.expand
{
    display: none;
}
.open
{
    display: block;
    text-align: center;
    height: 150vh;
    transition: .5s;
    background-color: rgb(150, 60, 200, .65);
}
#flag
{
    margin: 45px 0 0 0;
    width: 36%;
    padding: 0 32%;
}
.open p
{
    font-family: 'Chilanka', sans-serif;
    color: white;
    font-size: 12px;
    font-weight: 600;
}
.open a:link, .open a:visited
{
    display: list-item;
    list-style: none;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 800;
}
.open a:nth-child(1)
{
    padding-top: 60px;
}
.open a::after
{
    content: " ";
    display: block;
    width: 20%;
    height: 1px;
    margin: 6px auto;
    background-color: white;
}


    

            /* content */
            .wrapper
            {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                margin: 2px 2px;
            }


            main
            {
                flex-basis: 60%;
                border-radius: 8px;
                margin: 1px auto;
                text-align: center;
            }


            .sidebar
            {
                flex-basis: 38%;
                background: linear-gradient(135deg, rgb(120, 171, 241) 10%, rgb(119, 216, 255) 50%);
                text-align: center;
                margin: 1px auto;
                border-radius: 8px;
            }
            .sidebar h2
            {
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                color: white;
                padding-top: 5px;
            }
            .sidebar p
            {
                font-family: 'Lemonada', cursive;
                width: 90%;
                margin: 0 5%;
                font-size: 80%;
                color: white;
            }


            /* contents */
            .child_contents
            {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .content1, .content2
            {
                height: 20vh;
                flex-basis: 48%;
                background: rgb(101,111,214);
                background: linear-gradient(180deg, rgba(101,111,214,1) 0%, rgba(44,198,92,1) 100%, rgba(79,190,164,1) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,0) 100%);
                margin: 6px auto;
                border-radius: 6px;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                text-decoration: none;   
            }
            .content1 i, .content2 i
            {
                color: rgb(255, 255, 255);
                font-size: 2em;
                margin: 12px 0 6px 0;
            }




/*  footer */
footer
{
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    left: 0;
    bottom: 0;
    background-color: rgba(75, 75, 120, 0.7);
}
.subfooter1
{
    width: 45%;
    text-align: right;
}
.subfooter1 p, .subfooter2 p
{
    font-size: 8px;
    font-family: 'Lemonada', cursive;
    font-weight: 800;
}
.subfooter1 p
{
    margin: 10px 0;
    color: lavenderblush;
}
.subfooter2 p
{
    color: rgb(255, 255, 255);
}
.subfooter1 ul
{
    list-style: none;
}
.subfooter1 ul li
{
    display: inline;
    margin: 0 10px;
    padding: 10px;
}
.subfooter1 ul li i
{
    color: lavenderblush;
}
.devider
{
    display: block;
    width: 3%;
    height: 80%;
}
.subfooter2
{
    width: 45%;
}
.copyright
{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
.copyright p, .copyright a, .copyright a:visited
{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


@media screen and (max-width: 640px) {
    .wrapper {   
      flex-direction: column;
    }
}

@media screen and (max-width: 420px) {
    .wrapper {   
        flex-direction: column;
    }
    .child_contents {
        flex-direction: column;
        justify-content: space-around;
    }
    .content1, .content2 {
        flex-basis: 96%;
        min-height: 120px;
        margin: 1px;
    }
    footer {   
        flex-direction: column;
    }
    .devider {
        display: none;
    }
    .subfooter1, .subfooter2
    {
        width: 100%;
        min-height: 80px;
        margin: 1px;
        text-align: center;
    }
    .subfooter2
    {
        color: lightseagreen;
    }
}
