@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@500&family=Montserrat:wght@800&family=Rubik+Mono+One&display=swap");
/*
font-family: 'Lemonada', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Rubik Mono One', sans-serif;
*/

*
{
    margin: 0;
    padding: 0;
}
/*  header */
header
{
    background: rgb(56,244,156);
    background: linear-gradient(135deg, rgba(56,244,156,.95) 0%, rgba(140,124,184,0.95) 48%, rgba(54,209,147,.95) 100%, rgba(79,190,164,1.8) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,0) 100%);
    width: 100%;
    height: 80px;
}
header nav
{
    height: 100%;
}
.logo
{
    width: 180px;
    text-align: center;
    padding: 15px 0;
}
.logo h2
{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0;
    color: white;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 12px;
}
.logo h3
{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: -20px 0 0 0;
    color: white;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 4px;
}
#expand_icon
{
    float: right;
    margin: -80px 0 0 0;
    padding: 25px 25px;
    width: 30px;
}
header nav ul
{
    display: none;
}
.expand
{
    display: none;
}
.open
{
    display: block;
    text-align: center;
    height: 300vh;
    transition: .5s;
    background-color: rgb(150, 60, 200, .65);
}
#flag
{
    margin: 60px 0 0 0;
    width: 20%;
    padding: 0 40%;
}
.open a:link, .open a:visited
{
    display: list-item;
    list-style: none;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 800;
}
.open a:nth-child(1)
{
    padding-top: 60px;
}
.open a::after
{
    content: " ";
    display: block;
    width: 20%;
    height: 1px;
    margin: 6px auto;
    background-color: white;
}


/* content */
.wrapper
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 2px 0;
}


main
{
    flex-basis: 60%;
    background: rgb(72,103,163);
    background: linear-gradient(162deg, rgba(5,65,150,1) 0%, rgba(141,141,170,1) 43%, rgba(201,246,255,1) 100%);
    border-radius: 8px;
    margin: 1px auto;
    text-align: center;
    color: white;
}
main h3
{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding-top: 16px;
    letter-spacing: 4px;
    font-weight: 300;
}
main h1
{
    text-transform: uppercase;
    font-family: 'Rubik Mono One', sans-serif;
    text-decoration: none;
    line-height: 40px;
    margin: 0 0 16px 0;
}
main p
{
    font-family: 'Lemonada', cursive;
    font-size: 80%;
}



.sidebar
{
    flex-basis: 39%;
    background: linear-gradient(135deg, rgb(120, 171, 241) 10%, rgb(119, 216, 255) 50%);
    text-align: center;
    margin: 1px auto;
    border-radius: 8px;
}
.sidebar h2
{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-top: 5px;
}
.sidebar p
{
    font-family: 'Lemonada', cursive;
    font-size: 80%;
    color: white;
}

.child_contents
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2px auto;
}
.content1, .content2
{
    flex-basis: 48%;
    background: rgb(101,111,214);
    background: linear-gradient(180deg, rgba(101,111,214,1) 0%, rgba(44,198,92,1) 100%, rgba(79,190,164,1) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,0) 100%);
    margin: 10px auto;
    border-radius: 6px;
    text-align: center;
    font-family: 'Montserrat', sans-serif ;
}
.content1 img, .content2 img

{
    width: 120px;
    margin: 10px 0 0 0;
}
.content1 a, .content2 a

{
    text-decoration: none;   
}
.empty_content
{
    display: none;
}

/* footer */
footer
{
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(75, 75, 120, 0.7);
    text-align: center;
    color: white;
}





@media screen and (max-width: 640px) {
    .wrapper {   
      flex-direction: column;
    }
}

@media screen and (max-width: 420px) {
    .wrapper {   
        flex-direction: column;
    }
    .child_contents {
        flex-direction: column;
        justify-content: space-around;
    }
    .content1, .content2 {
        flex-basis: 96%;
        margin: 1px;
    }
}
